<h1>Tere tulemast Tartu Ülikooli arheoloogia infosüsteemi lehele</h1>



<h2> Juhendid </h2>

<a href="http://www.arheo.ut.ee/docs/TARA-Pearaamatu-mooduli-kasutamise-juhend.doc" target="_blank">TARA Pearaamatu mooduli kasutamise juhend  </a>
<br />
<a href="http://www.arheo.ut.ee/docs/TARA-leiunimekirjade-mooduli-kasutamise-juhend.doc"  target="_blank"> TARA leiunimekirjade mooduli kasutamise juhend </a>

<br />
<a href="http://www.arheo.ut.ee/docs/Leiunimekirjade-koostamise-juhend.doc"  target="_blank">Leiunimekirjade koostamise juhend  </a>
<br />
<a href="http://www.arheo.ut.ee/docs/Lühendid-ja-viited.doc"  target="_blank">Lühendid ja viited leiuterminoloogias </a>
<br />
Sisenemiseks klikka vajalikku alajaotust vasakmenüüs <br />
<h3 style="color:red;"> Sisselogimiseks vajuta ekraani paremas ülemises nurgas olevat nuppu </h3>
<h3 style="color:red;"> Kui vasakul ei ilmu menüü nähtavale, palun laadige leht uuest (vajutage F5)</h3>
<img src="http://www.struktuurifondid.ee/public/teavitamine/EL_Regionaalareng_horisontaal.jpg" style="width:300px;"/>
