<div class="row-fluid">
  <div class="span6">
    <legend>
      <% if (parentTemplate) { %>
        <%= parentTemplate %>
      <% } else { %>
        <%= label %>
      <% } %>
    </legend>

    <% if (Backbone.User.permissions().PATCH || Backbone.User.permissions().DELETE) { %>
    <button class="btn btn-link" id="edit-form">
      <i class=" icon-edit"></i> <span id="change-view-text"><%= T('resource-button-start-editing') %></span>
    </button>
    <% } %>

    <a href="<%= revisions_url %>" id="revision_history" class="btn btn-link" style="display: none">
      <i class="icon-folder-open"></i> <%= T('resources-show-history') %>
    </a>

    <div id="resource-form" style="display: none"></div>

    <div id="resource-table">
      <table class="table">
        <% form_fields.forEach(function (field) { %>
          <% if (field.type == 'metadata') { %>
            <% _.each(model.get(field.name), function (value, key) { %>
              <tr>
                <td><%= key %></td>
                <td><%= value %></td>
              </tr>
            <% }); %>
          <% } else { %>
            <tr>
              <td class="td-label"><%= field.label %></td>
              <td><%= model.get(field.name) %></td>
            </tr>
          <% } %>
        <% }); %>
        <tr>
          <td><%= T('meta-added') %></td>
          <td><%= new Date(model.get('_inserted')).toLocaleString() %> (<%= model.get('_creator_name') %>)</td>
        </tr>
        <% if (model.get('_updated')) { %>
        <tr>
          <td><%= T('meta-updated') %></td>
          <td><%= new Date(model.get('_updated')).toLocaleString() %> (<%= model.get('_editor_name') %>)</td>
        </tr>
        <% } %>
        <% if (new Date() > model.get('_deleted')) { %>
        <tr>
          <td><%= T('meta-deleted') %></td>
          <td><%= new Date(model.get('_deleted')).toLocaleString() %> (<%= model.get('_deletor_name') %>)</td>
        </tr>
        <% } %>
      </table>
    </div>

    <div id="form-actions" style="display: none">
      <% if (Backbone.User.permissions().DELETE) { %>
      <button class="btn btn-danger" id="delete-item"><%= T('button-delete') %></button>
      <% } %>

      <% if (Backbone.User.permissions().PATCH) { %>
      <button class="btn" id="save-item"><%= T('button-save') %></button>
      <% } %>
    </div>
  </div>
  <div class="span6">
    <legend>&nbsp;</legend>
		<div class="panel-group" id="resource-widgets"></div>
  </div>
</div>
