<%
categories.forEach(function(elem) { %>
	<% if(elem.attributes.permissions.GET) { %>
	<li>
		<% if( !elem.attributes.url.length ) {elem.attributes.url='#';} %>
		<a data-toggle="collapse" data-target="#submenu-<%= elem.id %>" href="<%= elem.attributes.url %>"<%= elem.attributes.is_external ? ' target="_blank"' : '' %>>
			<i class="<%= elem.attributes.icon || 'icon-bookmark' %>"></i>
			<span class="menu-text"><%= elem.attributes.name %></span>
			<% if( elem.attributes.children.length ){ %><i class="icon-arrow-down"></i><% } %>
		</a>
		<% if( elem.attributes.children.length ){ %>
			<%  displaySubmenus(elem.attributes, '', elem.id); %>
			<%= html %>
			<% } %>
	</li>
	<% } %>
<% }); %>
