body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.thumbnails > li {
  margin: 0 20px 20px 0;
}

#delete-item {
    margin-top: 20px;
}

a.brand {
	display:block;
	width:333px;
	height:103px;
	background:url('/static/themes/default/img/logo.png') no-repeat;
	background-size: 25%;
	background-position: 10% 50%;
}

#main-container {
	margin-top: 45px;
}

table a, .table a {
	color: #4C8FBD;
	text-decoration: underline;
}

#map-content {
	display:none;
	position: relative;
}

#map-popup {
	 padding-bottom: 45px;
//	 display:none;
}
#layerswitcher {
	display:block;
	min-height:100px;
	right:50px;
	top:10px;
	position:absolute;
	z-index:100;
}
#layerswitcher ul{ margin:0; padding:10px; border-radius:4px; background:rgba(0, 60, 136, 0.5); list-style-type:none; color:#fff; }
a:hover, a:focus {
	color: #A01714;
	text-decoration: underline;
}

a {
	color: #A01714;
	text-decoration: none;
}

.map-legend {
	position:absolute;
	width:175px;
	background-color:#fff;
	border:1px solid #AAA;
	min-height:100px;
	z-index:500;
	user-select:none;
	display:none;
}
#map-legend1 {
	top:50px;
	left:50px;
}
#map-legend2 {
	top:310px;
	left:50px;
	width: 250px;
}
.map-legend ul {
	list-style:none;
	margin:0;
	padding:0;
}
.map-legend ul li{
	margin:0;
	padding:3px;
	display:block;
	height:22px;
}

.map-legend ul li img{
	float:left;
	height:20px;
}

.map-legend ul li span.t_id{
	display:none;
}

.map-legend div.row{
	padding:5px;
	border:0;
	width:100%;
	clear:both;
}

.map-legend div.box{
	float:left;
	margin:0 15px;
	width:30px;
	height:15px;
	border:1px solid #555;
}

.map-legend ul li div.t_icon{
	height:10px;
	width:20px;
	float:left;
	margin-right:10px;
}

#map-content.fullscreen {
	position:absolute;
	z-index:90;
	height:100%;
	width:100%;
}

#fullscreen{
	position:relative;
	background-color:#fff;
	top:20px;
	left:20px;
	cursor:pointer;
	z-index:100;
	display:block;
	width:40px;
}
