
#content-rewrite label { font-size:14px; background:white;}
#content-rewrite input[type="checkbox"] { margin:0 0 10px 0; width:18px; height:18px;}

#content-rewrite #save-item.btn {padding: 5px 8px;  line-height: 1.42857; font-size: 14px; background-color: #60B4E1;border: 5px solid #60B4E1; margin-right:20px;}
#content-rewrite #save-item.btn:hover { background-color: #3B9AC7; border-color: #60B4E1;}
#content-rewrite #save-item.btn:before {content:"\f00c";font-family:FontAwesome; margin-right: 5px; font-weight: normal;}

#content-rewrite #delete-item.btn {padding: 5px 8px;  line-height: 1.42857; font-size: 14px; border-width:5px; margin-right:20px;}
#content-rewrite #delete-item.btn:before {content:"\f00d"; font-family:FontAwesome; margin-right: 5px; font-weight: normal;}

#content-rewrite #clone-item.btn {padding: 5px 8px;  line-height: 1.42857; font-size: 14px; border-width:5px; margin-right:20px;}
/*#content-rewrite #clone-item.btn:before {content:"\f00d"; font-family:FontAwesome; margin-right: 5px; font-weight: normal;}*/


#content-rewrite input[type="text"],
#content-rewrite input[type="number"],
#content-rewrite select,
#content-rewrite textarea {width: 40%; height:auto; margin-left:0;}

#content-rewrite textarea { height:100px;}
#content-rewrite select,
#content-rewrite textarea { margin-bottom:10px;}

#content-rewrite .span6 input[type="text"],
#content-rewrite .span6 input[type="number"],
#content-rewrite .span6 select,
#content-rewrite .span6 textarea { width:80%;}

#content-rewrite .form-inline input[type="text"],
#content-rewrite .form-inline input[type="number"],
#content-rewrite .form-inline select,
#content-rewrite .form-inline textarea { width:206px; margin-bottom:0; height:auto;}

#content-rewrite .form-signin input[type="text"],
#content-rewrite .form-signin input[type="password"] { width: 100%;}

#resource-form input[type="text"],
#resource-form input[type="number"],
#resource-form select,
#resource-form textarea{  line-height: 1.2; padding: 5px 4px; }

#form-content input[type="text"],
#form-content inputinput[type="number"],
#form-content select,
#form-content textarea{  line-height: 1.2; padding: 5px 4px; }

#clone-item { margin-top: 20px;}

#content-rewrite .input-small { width: 90px !important;}
#content-rewrite .input-medium { width: 150px !important;}
#content-rewrite .input-large { width: 210px !important;}
#content-rewrite .input-xlarge { width: 270px !important;}
#content-rewrite .input-xxlarge { width: 530px !important;}
.form-disabled {
  pointer-events: none;
}
