<ul class="times">
<li>
	<span class="t_id">SA</span>
	<span class="t_id">MSA</span>
	<span class="t_id">NSA</span>
	<div class="t_icon" style="background-color:#d92c2c;"> </div> 
	<span class="t_name">Stone age</span> 
</li>

<li>
	<span class="t_id">BA</span>
	<span class="t_id">EBA</span>
	<span class="t_id">LBA</span>
	<div class="t_icon" style="background-color:#ff8300;"> </div> 
	<span class="t_name">Bronze age</span> 
</li>

<li>
	<!--<span class="t_id">IA</span>-->
	<span class="t_id">EIA</span>
	<span class="t_id">EIApr</span>
	<span class="t_id">EIArm</span>
	<div class="t_icon" style="background-color:#ffcc00;"> </div> 
	<span class="t_name">Early iron age</span> 
</li>

<li>
	<span class="t_id">MIA</span>
	<span class="t_id">MIAmig</span>
	<span class="t_id">MIApvi</span>
	<div class="t_icon" style="background-color:#24a024;"> </div> 
	<span class="t_name">Middle iron age</span> 
</li>

<li>
	<span class="t_id">LIA</span>
	<div class="t_icon" style="background-color:#2135c3;"> </div> 
	<span class="t_name">Late iron age</span> 
</li>
<li>
	<span class="t_id">LIAvi</span>
	<div class="t_icon" style="background-color:#78afe4;"> </div> 
	<span class="t_name">Viking age (LIA)</span> 
</li>
<li>
	<span class="t_id">LIAfi</span>
	<div class="t_icon" style="background-color:#a253eb;"> </div> 
	<span class="t_name">Final iron age (LIA)</span> 
</li>
<li>
	<span class="t_id">MA</span>
	<div class="t_icon" style="background-color:#666666;"> </div> 
	<span class="t_name">Middle ages</span> 
</li>

<li>
	<span class="t_id">EMT</span>
	<div class="t_icon" style="background-color:#cccccc;"> </div> 
	<span class="t_name">Early modern times</span> 
</li>

</ul>