<ul class="types">
<li>
	<span class="t_id">OT_HOARD</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/aare.png" alt="Hoard"> 
	<span class="t_name">Hoard</span> 
</li>

<li>
	<span class="t_id">OT_H_SPRING</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/allikas.png" alt="Spring"> 
	<span class="t_name">Spring</span> 
</li>

<li>
	<span class="t_id">OT_CUPSTONE</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/lohukivi.png" alt="Cup-marked stone"> 
	<span class="t_name">Cup-marked stone</span> 
</li>

<li>
	<span class="t_id">OT_CRS_ZHL</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kiviristiga kääbas zalnik kalmistu.png" alt="Barrow-zhalnik cemetery with stone cross"> 
	<span class="t_name">Barrow-zhalnik cemetery with stone cross</span> 
</li>

<li>
	<span class="t_id">OT_FBURIAL_CROSS</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kiviristiga maahaud kalmistu.png" alt="Flat burial ground with stone cross"> 
	<span class="t_name">Flat burial ground with stone cross</span> 
</li>

<li>
	<span class="t_id">OT_SCROSS</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kivirist.png" alt="Scone cross"> 
	<span class="t_name">Scone cross</span> 
</li>

<li>
	<span class="t_id">OT_CULT_HILL</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kultusemägi.png" alt="Cult hill"> 
	<span class="t_name">Cult hill</span> 
</li>

<li>
	<span class="t_id">OT_CULT_COMPLEX</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kultuslik kompleks.png" alt="Cult complex"> 
	<span class="t_name">Cult complex</span> 
</li>

<li>
	<span class="t_id">OT_CHRCEM_A</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/mahajäetud kiriklik surnuaed.png" alt="Abandoned christian cemetery"> 
	<span class="t_name">Abandoned christian cemetery</span> 
</li>

<li>
	<span class="t_id">OT_HFOREST</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/püha mets.png" alt="Holy forest"> 
	<span class="t_name">Holy forest</span> 
</li>

<li>
	<span class="t_id">OT_HGROVE</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/püha puude grupp.png" alt="Holy Grove"> 
	<span class="t_name">Holy Grove</span> 
</li>

<li>
	<span class="t_id">OT_HOLY_TREE</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/püha puu.png" alt="Holy tree"> 
	<span class="t_name">Holy tree</span> 
</li>

<li>
	<span class="t_id">OT_CREOSS_STONE</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/ristikivi.png" alt="Cross stone"> 
	<span class="t_name">Cross stone</span> 
</li>

<li>
	<span class="t_id">OT_CHAPEL</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/tsäsoon_kabel.png" alt="Chapel"> 
	<span class="t_name">Chapel</span> 
</li>

<li>
	<span class="t_id">OT_IMPRINT_STONE</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/jäljekivi.png" alt="Imprinted stone"> 
	<span class="t_name">Imprinted stone</span> 
</li>

<li>
	<span class="t_id">OT_SAS</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kiviaja.png" alt="Stone age settlement"> 
	<span class="t_name">Stone age settlement</span> 
</li>

<li>
	<span class="t_id">OT_HF</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/linnus.png" alt="Hill fort"> 
	<span class="t_name">Hill fort</span> 
</li>

<li>
	<span class="t_id">OT_SET</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/asulakoht.png" alt="Settlement"> 
	<span class="t_name">Settlement</span> 
</li>

<li>
	<span class="t_id">OT_ATOWN</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/juhuleid.png" alt="Ancient town"> 
	<span class="t_name">Ancient town</span> 
</li>

<li>
	<span class="t_id">OT_VILLAGE</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/juhuleid.png" alt="Village"> 
	<span class="t_name">Village</span> 
</li>

<li>
	<span class="t_id">OT_SCASTLE</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kivilinnus.png" alt="Stone castle"> 
	<span class="t_name">Stone castle</span> 
</li>

<li>
	<span class="t_id">OT_FP</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/juhuleid.png" alt="Find place"> 
	<span class="t_name">Find place</span> 
</li>

<li>
	<span class="t_id">OT_FBURIAL</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/maahaudkalmistu.png" alt="Flat burial ground"> 
	<span class="t_name">Flat burial ground</span> 
</li>

<li>
	<span class="t_id">OT_FCC</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/juhuleid.png" alt="Flat cremation cemetery"> 
	<span class="t_name">Flat cremation cemetery</span> 
</li>

<li>
	<span class="t_id">OT_BARROW</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kääbaskalmistu.png" alt="Barrow cemetery"> 
	<span class="t_name">Barrow cemetery</span> 
</li>

<li>
	<span class="t_id">OT_SBARROW</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kääbas.png" alt="Single barrow"> 
	<span class="t_name">Single barrow</span> 
</li>

<li>
	<span class="t_id">OT_SGRAVE</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kivikalme.png" alt="Stone grave"> 
	<span class="t_name">Stone grave</span> 
</li>

<li>
	<span class="t_id">OT_CHRCEM</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kiriklik surnuaed.png" alt="Christian cemetery"> 
	<span class="t_name">Christian cemetery</span> 
</li>

<li>
	<span class="t_id">OT_ZHALNIK</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/zalnik.png" alt="Zhalnik cemetery"> 
	<span class="t_name">Zhalnik cemetery</span> 
</li>

<li>
	<span class="t_id">OT_ZHALNIKB</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/kääbas zalnikkalme.png" alt="Zhalnik-barrow cemetery"> 
	<span class="t_name">Zhalnik-barrow cemetery</span> 
</li>

<li>
	<span class="t_id">OT_CULTS</span> 
	<img class="t_icon" src="http://www.aac-project.eu/wp-content/themes/aac/img/icons/ohvrikivi.png" alt="Cult stone"> 
	<span class="t_name">Cult stone</span> 
</li>
</ul>