body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

a.brand {
    display: block;
    width: 300px;
    height: 45px;
    background: url('/static/themes/TARA/img/tara_infosystem.png') no-repeat;
    background-size: contain;
}

@media (max-width: 980px) {
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.thumbnails > li {
  margin: 0 20px 20px 0;
}

#delete-item {
    margin-top: 20px;
}
