<a class="thumbnail">
  <div class="file-info">
    <span class="caption"><%= filename %></span>
    <div class="default"><%= T('file-make-link') %></div>
    <div class="is_linked" style="background-color: red; display: none"><%= T('file-remove-link') %></div>
  </div>
  <% if (contentType == 'image/jpeg') { %>
    <img src="/api/download/<%= _id %>?w=300&h=200">
  <% } else { %>
    <img src="/static/img/no-preview.png">
  <% } %>
</a>
