<div div class="span6">
  <legend><%= T('file-edit-title') %></legend>

  <div id="form-content" class="<% if (!permissions.PATCH) { %>form-disabled<% } %>"></div>

  <p><%= T('file-name') %> <%= file.filename %></p>

  <p><%= T('file-size') %> <%= (file.length / 1024 / 1024).toFixed(2) %> MB</p>

  <p><%= T('file-md5') %> <%= file.md5 %></p>

  <p><%= T('meta-added') %> <%= new Date(file.uploadDate).toLocaleString() %> (<%= file._creator_name %>)</p>
  <% if (file._updated) { %>
    <p><%= T('meta-updated') %> <%= new Date(file._updated).toLocaleString() %> (<%= file._editor_name %>)</p>
  <% } %>

  <% if (Backbone.User.permissions().DELETE || file._creator_id == Backbone.User.get_info()._id) { %>
  <button class="btn btn-danger" id="delete-item"><%= T('button-delete') %></button>
  <% } %>

  <% if (permissions.PATCH) { %>
  <button class="btn" id="save-item"><%= T('button-save') %></button>
  <% } %>
</div>

<div class="span6">
  <legend><%= T('file-preview-title') %></legend>

  <% if (file.contentType == 'image/jpeg') { %>
    <img src="/api/download/<%= fileId %>?w=800&h=600" alt="">
  <% } else { %>
    <h3><%= T('file-preview-not-available') %></h3>
  <% } %>

  <br><br>

  <% if (permissions.PATCH) { %>
    <button class="btn" id="download-file" data-id="<%= fileId %>"><%= T('button-download-file') %></button>
  <% } %>
</div>
