<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#parent-info">
				<i class="icon-angle-right"></i> <%= template.label %>
			</a>
		</h4>
	</div>
	<div id="parent-info" class="panel-collapse collapse">
		<div class="panel-body">
			<a href="/resources/<%= template._id %>/<%= resourceId %>">
				<i class="icon-eye-open"></i>&nbsp; <%= template.label %>
			</a>
			<table class="table table-hover">
			<% _.each(result, function (elem) { %>
				<tr>
					<td><%= elem.label %></td>
					<td><%= elem.value %></td>
				</tr>
			<% }); %>
			</table>
		</div>
	</div>
</div>
