<!DOCTYPE HTML>
<html>
<body>
<script type="text/javascript">
    localStorage.setItem('grant', '{{ grant }}');
    localStorage.setItem('user', '{"_id": "{{ user }}"}');
    window.location = "https://tara.ut.ee/";
</script>
</body>
</html>
